{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Upgrade Wizard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style>
        body {
            margin: 0 1rem;
        }

        .data-impression.card header {
            background-color: #ceedff;
        }
    </style>
</head>

<body>
    <h2>ABR State Upgrade Wizard</h2>
    <p>This wizard helps to upgrade your ABR states from version 0.1.8 (VIS 2020
        Tutorial Version) to the new ABR 0.2.</p>

    <div>
        <button id="upload-state">Upload your old ABR state...</button>
    </div>

    <div>
        <h3 id="state-name">[state name]</h3>
    </div>

    <div>
        <h4>Data Impressions (towers)</h4>
        <p>
            <span class="label error">Red-highlighted</span> items need your
            attention. Click on a highlighted item to change its value. <span
            class="label warning">Orange-highlighted</span> items need attention
            because they are likely wrong. When the values have been
            updated and are formatted correctly, they will turn <span class="label success">green</span>.
        </p>
        <div class="flex two half" id="impression-list"></div>

        <h4>Remapped Variables</h4>
        <p>Each variable can be remapped once. If variables were remapped more than once in the old state, the new state uses the last one defined.</p>
        <div class="flex two half" id="remapped-vars"></div>

        <button id="export">Export New State...</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>

    <script src="{% static 'state-wizard/index.js' %}" type="module"></script>
</body>

</html>